/**
* @project Core Framework Admin
*/

@import "reset.css";

/*** Branding ***/ 
body {font:normal 12px Arial, Helvetica, sans-serif;color:#000;background:url(../../images/admin/bg.gif) repeat-x #16294f;width:100%;height:100%;}
html {height:100%;}

/**
* @section Links
*/
a:link{text-decoration:none; color:#0052b8;}
a:visited{text-decoration:underline; color:#0052b8;}
a:hover{text-decoration:underline; color:#0052b8;}
a:active{text-decoration:none; color:#0052b8;}

/**
* @section Headings
*/
h1, h2, h3, h4, h5, h6 {color:#000;font-weight:normal;margin-top:0;padding-top:0}
h1 {font-size:24px;color:#000000;font-weight:bold;margin-bottom:16px;}
h2 {font-size:17px;color:#000000;font-weight:bold;margin-bottom:16px;}
h3 {font-size:13px;color:#000000;font-weight:bold;}
h4 {font-size:16px;color:#000000}
h5 {font-size:14px;}
h6 {font-size:12px;}

/**
* @section Typography
*/
p {margin-bottom:8px;}

ul, ol, ul li, ol li {list-style:none;margin:0;background:none;padding:0}

.content_i ol {margin:10px 5px 10px 0; list-style:decimal; counter-reset:list_item;}
	.content_i ol li {font-size:12px; display:block; margin-bottom:5px;}
	.content_i ol li:before  {content:counter(list_item)'.'; counter-increment:list_item; color:#989898; padding-right:7px;}
		
/**
* Custom Buttons
* @section buttons
*/
.button {background-color:transparent; background-repeat:no-repeat; background-position:0 0; cursor:pointer; margin:0; padding:0; border:0;}	
.btn_login {cursor:pointer;}
	.btn_login em {width:2px;height:25px;background:url(../../images/admin/btn_login_left.png) no-repeat 0 0;float:left}
	.btn_login input {background:url(../../images/admin/btn_login_content.png) repeat-x 0 0;height:25px;float:left;padding:0 10px 5px;color:#484848;font-size:12px;font-family:Arial;font-weight:bold;}
	.btn_login strong {width:2px;height:25px;background:url(../../images/admin/btn_login_right.png) no-repeat 0 0;float:left}
.btn1 {cursor:pointer;*display:inline-block;*zoom:1;height:27px;}
	.btn1 em {width:4px;height:27px;background:url(../../images/admin/btn_pu_left.png) no-repeat 0 0;float:left}
	.btn1 input {background:url(../../images/admin/btn_pu_content.png) repeat-x 0 0;height:27px;float:left;padding:4px 10px 5px;color:#f9f9f9;font-size:13px;font-family:Arial;font-weight:bold;*display:inline;*zoom:1;*padding-left:0;*padding-right:0}
	.btn1 strong {width:4px;height:27px;background:url(../../images/admin/btn_pu_right.png) no-repeat 0 0;float:left}
	.btn1:hover em, .btn1:hover input, .btn1:hover strong {background-position: 0 -27px} 
	.btn1:active em, .btn1:active input, .btn1:active strong {background-position:0 -27px} 
	.btn1_disabled em, .btn1_disabled input, .btn1_disabled strong {background-position:0 -54px;color:#a6a6a6} 
	.btn1_disabled:hover em, .btn1_disabled:hover input, .btn1_disabled:hover strong {background-position: 0 -54px;cursor:default;color:#a6a6a6} 
.btn2 {cursor:pointer;}
	.btn2 em {width:3px;height:24px;background:url(../../images/admin/btn2_left.png) no-repeat 0 0;float:left}
	.btn2 input {background:url(../../images/admin/btn2_center.png) repeat-x 0 0;height:24px;float:left;padding:4px 7px 5px;color:#484848;font-size:13px;font-family:Arial;font-weight:bold;*display:inline;*zoom:1;*padding-left:0;*padding-right:0}
	.btn2 strong {width:3px;height:24px;background:url(../../images/admin/btn2_right.png) no-repeat 0 0;float:left}
	
	
/**
* @section Main Layouts
* @subsection Two Column Layout
*/
#wrapper {width:100%;min-width:1000px;min-height:100%;height:auto !important;height:100%;}
	#middle {width:100%;padding:0 0 49px;height:1%;position:relative;}
		#middle:after {content:'.';display:block;clear:both;visibility:hidden;height:0;}
		#container {	width:100%;float:left;overflow:hidden;}
			#content {padding:0 0 0 220px;background:#fff;margin:0 14px;}
		#sideLeft {float:left;width:222px;margin-left:-100%;position:relative;padding-left:14px;}
			.sidebar_i {background:url(../../images/admin/sidebar_bg.gif) repeat-y 0 0;}
#footer {margin:-49px 14px 0;min-width:1000px;height:49px;}


/**
* @section Main Layouts
* @subsection Header
*/
#header {height: 82px;margin:0 14px;position:relative}
	#header .logo {position:absolute;top:14px;left:9px}
	#header .right_side {position:absolute;top:12px;right:0}
		#header span {color:#72bffb;font-size:12px;float:left;margin:4px 10px 0 0 }
		#header .btn_login {float:left;}
	.breadcrumbs {height:32px;background:url(../../images/admin/breadcrumbs_bg.gif) repeat-x 0 0;top:50px;position:absolute;width:100%;}
		.breadcrumbs ul {margin:6px 0 0 10px}
			.breadcrumbs ul li {background:url(../../images/admin/breadcrumbs_sep.png) no-repeat 0 5px;padding-left:9px;margin-left:7px;float:left;color:#fff}
				.breadcrumbs ul li:first-child {background:none;padding:0;margin:0;}
				.breadcrumbs ul li a{color:#5fa6de}
					.breadcrumbs ul li a:hover{}


/**
* @section Main Layouts
* @subsection Footer
*/
.footer_i {position:relative;}
	.footer_i .copyright {position:absolute;top:15px;left:5px;color:#6ca2d0;font-size:11px;}
	.footer_i .f_links {position:absolute;top:15px;right:5px;color:#6ca2d0;font-size:11px;}
		.footer_i .f_links a {color:#6ca2d0;text-decoration:underline;padding:0 5px;}
			.footer_i .f_links a:hover {text-decoration:none}


/**
* @section Content Page
*/
.top_b {height:1px;border-bottom:1px solid #e2e2e2;padding-top:1px;}
.content_i {padding:28px 20px}
	.e_table_area {margin-top:0px}
		.e_table_top {background:url(../../images/admin/e_table_top_bg.gif) repeat-x 0 0;height:24px;padding:6px 0 4px}
			.filter_l {float:left;margin-left:8px;}
				.filter_i {float:left;position:relative;margin-right:13px;padding-right:15px}
					.filter_i label {color:#474747;}
					.filter_i input[type=text] {padding:1px 20px 1px 4px;width:72px;height:19px;border:1px solid #a6a6a6;}
					.filter_i input[type=checkbox] {padding:1px 20px 1px 4px;width:72px;height:19px;border:1px solid #a6a6a6;}
					.datepicker {position:relative;float:left;margin:0;padding:0;height:21px;}
					img.ui-datepicker-trigger {background:url(../../images/admin/calendar.gif) no-repeat 0 0;height:20px;width:19px;cursor:pointer;position:absolute;right:17px;top:1px;}
					img.ui-datepicker-trigger:hover {background-position:0 -20px;}
						#ui-datepicker-div {background:#fff;border:1px solid #a6a6a6;}
							.ui-datepicker-header {position:relative;padding:5px 0}
								.ui-datepicker-title {text-align:center;margin-bottom:5px;}
								.ui-icon {cursor:pointer;font-size:10px;}
								.ui-icon-circle-triangle-w {left:3px;}
								.ui-icon-circle-triangle-e {right:3px;}
							table.ui-datepicker-calendar {}
							table.ui-datepicker-calendar td {padding:5px;}
					.filter_i em {position:absolute;right:0;top:6px;}
				.filter_l .btn2 {float:left;}
			.filter_r {float:right;margin-right:8px;}
		table.e_table {width:100%}
			table.e_table tr {vertical-align:top;}
			table.e_table th, table.e_table td {text-align:left;}
			table.e_table th {background:url(../../images/admin/e_table_th_bg.gif) repeat-x 0 0;height:33px;color:#fff;font-size:13px;vertical-align:middle} 
				table.e_table th span {background:url(../../images/admin/e_table_th_sep.gif) no-repeat 0 0;padding:8px 1px;margin-right:6px;}
				table.e_table th:first-child span {background:none}
			table.e_table td {border-bottom:#e7e7e7 solid 1px;padding:8px 0 3px 8px;color:#474747;}
				table.e_table td a {text-decoration:none}
					table.e_table td a:hover {text-decoration:underline}
			table.e_table tr:hover td {background:#cde6fc;color:#000000}
			em.delete {background:url(../../images/admin/delete_ico.gif) no-repeat 0 0;height:11px;width:10px;display:block}
				em.delete:hover, table.e_table tr:hover em.delete {background-position:0 -11px;}
		.e_table_bottom {background:url(../../images/admin/e_table_bottom_bg.gif) repeat-x 0 0;height:27px;padding:5px 0 4px 5px;}	
		.e_table_bottom .btn1 {float:left;margin-right:5px;}
/*-------------------------------------------------JQUERY GRID-------------------------------------------------------------------*/
        .ui-jqgrid {width: 100% !important;}
        .ui-jqgrid-pager {width: 100% !important;}
        .ui-jqgrid-view {width: inherit !important;}
        .ui-jqgrid-hdiv {width: inherit !important;}
        .ui-jqgrid-bdiv {width: inherit !important;}
        
		table.ui-jqgrid-htable {width:100% !important;}
			table.ui-jqgrid-htable tr {vertical-align:top;}
			table.ui-jqgrid-htable th, table.ui-jqgrid-htable td {text-align:left;}
			table.ui-jqgrid-htable th {background:url(../../images/admin/e_table_th_bg.gif) repeat-x 0 0;height:33px;color:#fff;font-size:13px;vertical-align:middle} 
				table.ui-jqgrid-htable th div {background:url(../../images/admin/e_table_th_sep.gif) no-repeat 0 0;padding:8px 20px;height:17px;}
				    table.ui-jqgrid-htable th div input[type=checkbox] { margin: 0;}
				table.ui-jqgrid-htable th:first-child span {background:none}
			table.ui-jqgrid-htable td {border-bottom:#e7e7e7 solid 1px;padding:8px 0 3px 8px;color:#474747;}
				table.ui-jqgrid-htable td a {text-decoration:none}
					table.ui-jqgrid-htable td a:hover {text-decoration:underline}
			table.ui-jqgrid-htable tr:hover td {background:#cde6fc;color:#000000}
			table.ui-jqgrid-htable tr:hover em.delete {background-position:0 -11px;}
		.ui-jqgrid-htable_bottom {background:url(../../images/admin/e_table_bottom_bg.gif) repeat-x 0 0;height:27px;padding:5px 0 4px 5px;}	
		.ui-jqgrid-htable_bottom .btn1 {float:left;margin-right:5px;}
        .ui-widget-header { display: none; }	
        
		table.ui-jqgrid-btable {width:100% !important;}
			table.ui-jqgrid-btable tr {vertical-align:top;}
			table.ui-jqgrid-btable th, table.ui-jqgrid-btable td {text-align:left;}
			table.ui-jqgrid-btable th {background:url(../../images/admin/e_table_th_bg.gif) repeat-x 0 0;height:33px;color:#fff;font-size:13px;vertical-align:middle} 
				table.ui-jqgrid-btable th div {background:url(../../images/admin/e_table_th_sep.gif) no-repeat 0 0;padding:8px 8px;}
				table.ui-jqgrid-btable th:first-child span {background:none}
			table.ui-jqgrid-btable td {border-bottom:#e7e7e7 solid 1px;padding:8px 20px 3px 8px;color:#474747;}
				table.ui-jqgrid-btable td a {text-decoration:none}
				table.ui-jqgrid-btable td input[type=checkbox] {margin:0;}
					table.ui-jqgrid-btable td a:hover {text-decoration:underline}
			table.ui-jqgrid-btable tr:hover td {background:#cde6fc;color:#000000}
			table.ui-jqgrid-btable tr:hover em.delete {background-position:0 -11px;}
		.ui-jqgrid-btable_bottom {background:url(../../images/admin/e_table_bottom_bg.gif) repeat-x 0 0;height:27px;padding:5px 0 4px 5px;}	
		.ui-jqgrid-btable_bottom .btn1 {float:left;margin-right:5px;}
        .ui-widget-header { display: none; }	
        .ui-jqgrid-resize-mark { display: none; }	

			table.ui-pg-table tr {background:url(../../images/admin/e_table_th_bg.gif) repeat-x 0 0;height:33px;color:#fff;font-size:13px;vertical-align:middle} 
        /* loading */
        .ui-jqgrid .loading {position: absolute; top: 45%;left: 50%;width: auto;z-index:101;padding: 6px; margin: 5px;text-align: center;font-weight: bold;display: none;border-width: 2px !important;}
        .ui-jqgrid .jqgrid-overlay {display:none;z-index:100;}
        * html .jqgrid-overlay {width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}
        * .jqgrid-overlay iframe {position:absolute;top:0;left:0;z-index:-1;width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}
        /* end loading div */

        /* Pager*/
        .ui-jqgrid .ui-jqgrid-pager { border-left: 0px none !important;border-right: 0px none !important; border-bottom: 0px none !important; margin: 0px !important; padding: 0px !important; position: relative; height: 33px;white-space: nowrap;overflow: hidden;}
        .ui-jqgrid .ui-pager-control {position: relative;}
        .ui-jqgrid .ui-pg-table {position: relative; padding-bottom:2px;}
        .ui-jqgrid .ui-pg-table td {font-weight:normal; vertical-align:middle; padding:1px; overflow:hidden;}
        .ui-jqgrid .ui-pg-button  { height:19px !important;}
        .ui-jqgrid .ui-pg-button span { display: block; margin: 1px; float:left;}
        .ui-jqgrid .ui-pg-button:hover { padding: 0px; }
        .ui-jqgrid .ui-state-disabled:hover {padding:1px;}
        .ui-jqgrid .ui-pg-input { height:13px;font-size:.8em;}
        .ui-jqgrid .ui-pg-selbox {font-size:.8em; line-height:18px; display:block; height:18px}
        .ui-jqgrid .ui-separator {height: 18px; border-left: 1px solid #ccc ; border-right: 1px solid #ccc ; margin: 1px; float: right;}
        .ui-jqgrid .ui-paging-info {font-weight: normal;height:19px; margin-top:3px;padding-right: 5px;}
        .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {padding:1px 0;cursor:pointer; float:left;list-style-image:none;list-style-position:outside;list-style-type:none;position:relative;}
        .ui-jqgrid .ui-jqgrid-pager .ui-pg-div  span.ui-icon {float:left;margin:0 2px;}

/*--------------------------------------------------------------------------------------------------------------------------------*/
	.info_block {margin-top:16px;}
		.tabs{margin:auto;overflow:hidden;height:auto;}
			ul.i-tab {list-style:none;overflow:hidden;height:auto;}
				ul.i-tab li {float:left;margin-left:3px;z-index:1;position:relative}
					ul.i-tab li em {float:left;background:url(../../images/admin/tab_all_left.gif) repeat-x 0 0;width:6px;height:24px}
					ul.i-tab li span {float:left;background:url(../../images/admin/tab_all_center.gif) repeat-x 0 0;padding:4px 10px 5px;}
					@media all and (min-width:0){ul.i-tab li span { padding:5px 10px 5px \0/; }} /* IE9 hack */
					ul.i-tab li strong {float:left;background:url(../../images/admin/tab_all_right.gif) repeat-x 0 0;width:7px;height:24px}
					ul.i-tab li:hover {cursor:pointer}
					ul.i-tab li.active {z-index:200}
						ul.i-tab li.active em, ul.i-tab li.active span, ul.i-tab li.active strong {background-position: 0 -24px;font-weight:bold}
			.tabs_b {height:1px;border-top:1px solid #b4b4b4;z-index:100;position:relative;margin-top:-1px;}
			.tab-content {list-style:none;margin:0px;padding:12px 0 4px 3px;}
				.tab-content li.tabs_cont {display:block;display:none;font-size:12px;font-family:Arial}
					.tab-content li li {display:block !important}
					.tabs_cont .form_i {clear:both;margin-bottom:6px;padding-top:4px;}
					.tabs_cont .form_i label.r_lable {float:left;margin-left:6px;}
					.tabs_cont .form_i input[type=radio] {margin:0;padding:0;float:left;}
		.t_buttons  {clear:both;height:27px;}
		.t_buttons .btn1 {float:left;margin-right:5px;margin-top:20px;}
		.i_form {background:url(../../images/admin/i_form_bg) repeat-x 0 0 #ecedef;padding:15px 0 20px 20px;}
			.cols {width:100%;position:relative;} 
				.colls_i {float:left;width:30%;margin-left:20px}
				.colls_i:first-child {margin-left:0px}
				/* .fst_col {float:left;width:33.3%}
				.snd_col {float:left;width:33.3%}
				.trd_col {float:left;width:33.3%} */
					.r_chb {position:relative;float:left;}
						.r_chb label {color:#313131;font-size:11px}
					.r_chb_w {}
					.r_chb_w h3{float:left;margin-right:24px;}
				.cols h3 {margin-bottom:10px;font-size:13px;}
				.cols .i_form_i {width:90%;margin-bottom:10px}
				.cols .i_form_i label {color:#474747;font-size:12px;font-weight:bold}
					.cols .i_form_i label span {color:#0f5cbb;}
				.cols .i_form_i input[type=text] {width:100%;padding:3px 6px;border:1px solid #a6a6a6;*padding:3px 4px;}
				.cols .i_form_i input[type=password] {width:100%;padding:3px 6px;border:1px solid #a6a6a6;*padding:3px 4px;}
				/* .cols .i_form_i input[type=text]:active {background:#dff0ff} */
				.cols .i_form_i input[type=text].inputHighlighted{background-color:#dff0ff;border:1px solid #747474}
				.cols .i_form_i input[type=password].inputHighlighted{background-color:#dff0ff;border:1px solid #747474}
				.cols .i_form_i select {width:100%}
				.cols .disabled_i label {color:#afafaf;}
				.cols .disabled_i input[type=text]  {border:1px solid #d6d6d6;background:#fff;}
				.cols .not_valid_i label {color:#c00202;}
				.cols .not_valid_i input[type=text] {border:1px solid #af2929;background:url(../../images/admin/not_valid_ico.gif) no-repeat 3px 3px #fff;}
				.cols label.label-validation-error {color:#c00202;}
				.cols .i_form_i label.label-validation-error {color:#c00202;}
				.cols input[type=text].input-validation-error {border:1px solid #af2929;background:url(../../images/admin/not_valid_ico.gif) no-repeat 99% 3px #fff;}
				.cols input[type=password].input-validation-error {border:1px solid #af2929;background:url(../../images/admin/not_valid_ico.gif) no-repeat 99% 3px #fff;}
				.cols .wth_flg input {float:left;}
			.i_buttons  {clear:both;height:27px;}
			.i_buttons  .btn1 {float:left;margin-right:5px;clear:both;height:27px;}
			.i_buttons  span {float:left;margin-top:6px;}
				.i_buttons  span a{text-decoration:underline;}
					.i_buttons  span a:hover{text-decoration:none;}
			

/**
* @section Sidebar
*/		
.sidebar_i {width:222px;}
	
		#accordion  h3 {background:url(../../images/admin/sidebar_h.gif) repeat-x 0 0;margin-right:3px;padding:7px 0 6px;border-bottom:1px solid #c3c4c6}
			#accordion  h3 a {color:#000;text-decoration:none;font-size:13px;}
			#accordion  h3 a:hover {text-decoration:none}
		#accordion em {font-style:normal;padding:4px 0 4px 29px}
		#accordion ul {}
			#accordion ul li {padding:4px 0;border-bottom:1px solid #dfe0e2}
				#accordion ul li a {font-size:11px;color:#000;}
					#accordion ul li:hover {background:url(../../images/admin/accordion_li_hover.gif) repeat-x;cursor:pointer} /* TODO! redirect */
					#accordion ul li:hover a {color:#fff;text-decoration:none;}
				#accordion ul li.active {background:#fff;}
					#accordion ul li.active a {font-weight:bold}
				#accordion ul li.active:hover {background:#fff}
				#accordion ul li.active:hover a {color:#000;}
		#accordion .bg1 {background:url(../../images/admin/ico1.png) 5px 50% no-repeat;}
		#accordion .bg2 {background:url(../../images/admin/ico2.png) 5px 50% no-repeat;}
		#accordion .bg3 {background:url(../../images/admin/ico3.png) 5px 50% no-repeat;}
		#accordion .bg4 {background:url(../../images/admin/ico4.png) 5px 50% no-repeat;}
		#accordion .bg5 {background:url(../../images/admin/ico5.png) 5px 50% no-repeat;}
		#accordion .bg6 {background:url(../../images/admin/ico6.png) 5px 50% no-repeat;}
		#accordion .bg7 {background:url(../../images/admin/ico7.png) 5px 50% no-repeat;}
		#accordion .bg8 {background:url(../../images/admin/ico8.png) 5px 50% no-repeat;}
		
		.ui-accordion {width:100%;}
			.ui-accordion .ui-accordion-header {cursor:pointer;position:relative;/* margin-top: 1px; */zoom:1;}
			.ui-accordion .ui-accordion-li-fix {display:inline;}
			/* .ui-accordion .ui-accordion-header-active {border-bottom:0 !important; } */
			.ui-accordion .ui-accordion-header a {/* display: block; font-size: 1em; padding: .5em .5em .5em .7em;  */}
			.ui-accordion-icons .ui-accordion-header a {/* padding-left: 2.2em;  */}
			.ui-accordion .ui-accordion-header .ui-icon {position:absolute;right: .5em;top: 50%;margin:0;padding:0;background:url(../../images/admin/acordion_v.png) no-repeat 0 0;width:9px;height:5px;}
			.ui-accordion .ui-accordion-content {/* padding:1em 2.2em;border-top:0;margin-top:-2px; */position:relative;/* top:1px;margin-bottom:2px; */overflow: auto;display:none;zoom:1;margin-right:3px;}
			.ui-accordion .ui-accordion-content-active {display:block;}
			.ui-accordion h3.ui-state-active .ui-icon {background:url(../../images/admin/acordion_n.png) no-repeat 0 0;}

/**
* @section Content Page
* @subsection Validation
*/						
.error {color:#c00202;background:url(../../images/admin/v_ico_red.gif) no-repeat 14px 10px #fae2e2;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
.success {color:#195302;background:url(../../images/admin/v_ico_green.gif) no-repeat 14px 10px #ddf7d2;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
.notice {color:#2e2d2d;background:url(../../images/admin/v_ico_yell.gif) no-repeat 14px 10px #fdf3c9;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
.validation_info {color:#003577;background:url(../../images/admin/v_ico_blue.gif) no-repeat 14px 10px #cde6fc;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}


					
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../../images/jquery-ui/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../../images/jquery-ui/ui-icons_cd0a01_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sign { color: white !important; font-size: 14px; font-weight: bold;  padding-right: 5px;}




	
		
		
		
		
