/Source/_ReSharper.ContentPages
/Source/Core.ContentPages.Migrations/bin
/Source/Core.ContentPages.Migrations/obj
/Source/Core.ContentPages/bin
/Source/Core.ContentPages/obj
/Source/Core.ContentPages.NHibernate/bin
/Source/Core.ContentPages.NHibernate/obj
/Source/Core.ContentPages.Tests/bin
/Source/Core.ContentPages.Tests/obj
/Source/Core.Web
/Source/ContentPages.5.1.ReSharper.user
/Source/ContentPages.suo

