/Source/_ReSharper.News
/Source/Core.News.Migrations/bin
/Source/Core.News.Migrations/obj
/Source/Core.News/bin
/Source/Core.News/obj
/Source/Core.News.NHibernate/bin
/Source/Core.News.NHibernate/obj
/Source/Core.News.Tests/bin
/Source/Core.News.Tests/obj
/Source/Core.Web
/Source/News.5.1.ReSharper.user
/Source/News.suo
