
/Source/_ReSharper.Core
/Source/Core.ContentPages/obj
/Source/Core.ContentPages.Migrations/bin
/Source/Core.ContentPages.Migrations/obj
/Source/Core.ContentPages.NHibernate/bin
/Source/Core.ContentPages.NHibernate/obj
/Source/Core.Framework.MEF/bin
/Source/Core.Framework.MEF/obj
/Source/Core.Framework.MEF.Contracts/bin
/Source/Core.Framework.MEF.Contracts/obj
/Source/Core.Framework.MEF.ServiceLocation/bin
/Source/Core.Framework.MEF.ServiceLocation/obj
/Source/Core.Framework.Permissions/bin
/Source/Core.Framework.Permissions/obj
/Source/Core.Framework.Plugins/bin
/Source/Core.Framework.Plugins/obj
/Source/Framework.MVC/bin
/Source/Framework.MVC/obj
/Source/Framework.MSBuild/bin
/Source/Framework.MSBuild/obj
/Source/Framework.Migrator/bin
/Source/Framework.Migrator/obj
/Source/Framework.Facilities.NHibernate/bin
/Source/Framework.Facilities.NHibernate/obj
/Source/Framework.Core/bin
/Source/Framework.Core/obj
/Source/Core.Web.NHibernate/bin
/Source/Core.Web.NHibernate/obj
/Source/Core.Web/bin
/Source/Core.Web/obj
/Source/Core.Web/Areas/ContentPage
/Source/Core.Web/logs
/Source/Core.ContentPages/Core.ContentPages.csproj.user
/Source/Core.Web/logs/
/Source/Core.suo
/Source/Framework.Core/StyleCop.Cache
/Source/Framework.Facilities.NHibernate/StyleCop.Cache
/Source/Framework.MSBuild/StyleCop.Cache
/Source/Framework.MVC/StyleCop.Cache
/Source/Framework.Migrator/StyleCop.Cache