/* Edit Post */
#content .blog-form
{
  margin-left:83px;
  width:80%;
}
/* Blog Details */
#content .vblog {  background-color: #95CBE9;padding-bottom:1em;margin-bottom:1em;}
#content .vblog .logo
{
  margin: 1em 1em 0 1em;
  float:left;
}
#content .vblog .details
{
  margin: 1em 1em 0 1em;
  float:left;
}
/*Post Details*/

#content .vblog-post {background-color: #F7B64B; padding:1em 0; margin-bottom:1em;}
#content .blog {background-color: #95CBE9; padding:1em 1em 1em 0; margin-bottom:1em;}
#content .blog .actions {float:right;}
#content .vblog-post .logo-area, #content .blog .logo-area
{
  margin: 0em 1em 0 1em;
  float:left;
  width:100px;
}
#content .vblog-post .logo-area span,#content .blog .logo-area span,#content .comment .logo-area span {display:block;text-align:center;}
#content .posts {padding-right:1em; width:70%; float:left;}
#content .post-area {width:100%;}
#content .posts-calendar {float:right;}
.post-details {background-color:#C3D9FF;padding:1em;margin-bottom:1em;}
.post-details .actions {float:right;}
.posts h3.header a {float:right;}

#content .comment {background-color: #C3D9FF; padding:1em 1em 1em 0; margin-bottom:1em;}
#content .comment .header {font-weight:bold;}
#content .comment .actions {float:right;}
#content .comment .logo-area {float:left;margin: 0em 1em 0 1em;width:50px;}
#content .comment .logo-area img {width:50px;height:50px;}
#content .post-form {width:100%;margin:0;}
#content .

