.web-content-details h3 {margin-bottom:15px;}
.web-content-details .add-info {color:#505050;font-size:11px;display:block;}
.web-content-details .summary {font-weight:bold;}
.web-content-details .files {margin:10px 0;}
.web-content-details .file-info {display:block;}
.delimiter {border-top:1px solid #DFE5E8; margin:15px 0;}
