html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
 /* line-height: 1;*/
  background: #F9F1FF;
  color:#333333;
   }

html, body {
  height:100%;
}

#header .menu {
  float: left;
  padding: 0;
}

#header .menu li {
  float: left;
  margin-right:0.5em;
}

#header .logo {
  float:left;
  margin-right:10px;
}

#header .user-menu {
  float:right;
}

#header .user-menu a.profile {
  float: right;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

.clear{clear:both;}

a:link, a:visited { text-decoration:none; color:#660BAB; }
a:hover { text-decoration:underline;}

label       { font-weight: bold; }
legend      { font-weight: bold; font-size:1.2em; }

#content fieldset {border:none;}
#content .form input[type=text],
#content .form input[type=password],
#content .form input[type=file],
#content .form textarea,
#content .form select {
    width: 100%;
}

#content .form div.wrapper {
 padding-right: 10px;
}

.login-form {
	font-size:75%
}

.fleft {
	float:left;
}

.fright {
	float:right;
}

.container {
  position: relative;
  min-height: 100%;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  max-width: 1000px;
  background-color:#fff;
  margin: 0 auto;
}

.inner-container {
  padding: 0 1em;
}

#header {
  padding: 0.5em 0px;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

#content {
  float: left;
  padding: 0 0 2em 0;
  width: 100%;
}

h2.header {margin:10px 0;}

#tblLayoutHolder td {vertical-align:top;}

.new-widget-holder, .change-layout-holder {
    border:1px solid #CCCCCC;
    padding:5px;
    margin-bottom:10px;
}

.widget {
	border:1px solid #D4B4F0;
}

.view-mode .widget
{
	border-color:rgba(0, 0, 0, 0);
}

.widget {
    margin: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin:5px 0;
}
.widget .widget-head {
    color: #fff;
    overflow: hidden;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color:#D4B4F0;
}
.widget .widget-head h3 {
    padding: 0 5px;
    float: left;
}
.widget .widget-content {
    padding: 5px;
    color: #333333;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}

.buttons {margin-top:10px;}
h2.settings-header {margin-bottom:10px;}

.page-mode-block {
	float:right;
	margin-right:30px;
	display:inline;
}

.text-400 {width:400px}
.text-282 {width:272px}
.select-400 {width:413px}

.ui-widget-content .form_area label {display:block;}
.ui-widget-content .form_area input {}
.ui-widget-content form input.text, .ui-widget-content form select.text, .ui-widget-content form textarea.text {margin-bottom:12px; padding:0.4em; float:left;}

.ui-widget-content .form_area .checkbx-label {display:inline;}
/*menu*/

.menu, .menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.menu {
	line-height:	1.0;
}
.menu ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
    left:-1px;
}
.menu ul li {
	width:			100%;
}
.menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.menu li {
	float:			left;
	position:		relative;
}
.menu a {
	display:		block;
	position:		relative;
}
.menu li:hover ul,
.menu li.sfHover ul {
	left:			-1px;
	top:			1.7em; /* match top ul list item height */
	z-index:		99;
}
ul.menu li:hover li ul,
ul.menu li.sfHover li ul {
	top:			-999em;
}
ul.menu li li:hover ul,
ul.menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.menu li li:hover li ul,
ul.menu li li.sfHover li ul {
	top:			-999em;
}
ul.menu li li li:hover ul,
ul.menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.manage-page-menu {
	margin:	1em 0;
    height:26px;
    background-color:#F9F1FF;
    border:1px solid #CCCCCC;

}
.manage-page-menu a {
    border-right:1px solid #CCCCCC;
	padding: .3em 1em;
	text-decoration:none;
}
.manage-page-menu li {
	background:	#F9F1FF;
}
.manage-page-menu li li {
	background:	#F9F1FF;
}
.manage-page-menu li li a {
    border-bottom:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
}
.manage-page-menu li li li {
	background:	#F9F1FF;
}
.manage-page-menu li:hover, .manage-page-menu li.sfHover,
.manage-page-menu a:focus, .manage-page-menu a:hover, .manage-page-menu a:active {
	background:	#D4B4F0;
	outline: 0;
}

.layout-1 { background: url('../images/layouts/Layout1.png'); height:71px;width:70px;float:left;margin-right:10px;}
.layout-2 { background: url('../images/layouts/Layout2.png'); height:71px;width:70px;float:left;margin-right:10px;}
.layout-3 { background: url('../images/layouts/Layout3.png'); height:71px;width:70px;float:left;margin-right:10px;}
.layout-4 { background: url('../images/layouts/Layout4.png'); height:71px;width:70px;float:left;margin-right:10px;}
.layout-5 { background: url('../images/layouts/Layout5.png'); height:71px;width:70px;float:left;margin-right:10px;}
.layout-6 { background: url('../images/layouts/Layout6.png'); height:71px;width:70px;float:left;}

.layout-1.active { background: url('../images/layouts/Layout1-a.png');}
.layout-2.active { background: url('../images/layouts/Layout2-a.png');}
.layout-3.active { background: url('../images/layouts/Layout3-a.png');}
.layout-4.active { background: url('../images/layouts/Layout4-a.png');}
.layout-5.active { background: url('../images/layouts/Layout5-a.png');}
.layout-6.active { background: url('../images/layouts/Layout6-a.png');}


/*Pages menu*/
.pages-menu  {
    width:100%;
	margin:	1em 0;
    height:26px;
    background-color:#F9F1FF;
    border:1px solid #CCCCCC;
}
.pages-menu ul {width:8.1em;}
.pages-menu li {
    cursor:move;
}
.pages-menu li.last {
    cursor:pointer;
}
.pages-menu a {
	text-decoration:none;
    float:left;
}
.pages-menu a.add-page {
    float:none;
    text-align:center;
    background: url('../images/navigation/plus.png') no-repeat center center;
    width:12px;
    height:16px;


}
.pages-menu li {
	background:	#F9F1FF;
    padding:5px 15px;
    border-right:1px solid #CCCCCC;
}

.pages-menu li li  {
    border-bottom:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    float:left;
}
.pages-menu li li li  {
    border-top:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-bottom:none;
    float:left;
}

.pages-menu li li.last {border-bottom:1px solid #cccccc;}
.pages-menu span.remove {
    float:right;
    cursor:pointer!important;
    margin-left:5px;
    position:relative;
    top:-3px;
    left:13px;
 }

.pages-menu span.remove a {height:13px;width:13px;position:relative; background: url('../images/navigation/ico_delete3.png') no-repeat right center;}

.pages-menu li li li  {
	background:	#F9F1FF;
}

.pages-menu li:hover, .pages-menu li.sfHover {
	background:	#D4B4F0;
	outline: 0;
}

/*navigation*/

ul.site-map li {padding-left:15px;}

ul.list-menu {border:1px solid #aaaaaa;padding:5px;line-height:1.6em;margin-bottom:5px;}
ul.list-menu li li {padding-left:10px;}

.list-menu-widget.horizontal {}
.list-menu-widget.vertical a {display:block;}

.breadcrumbs li {float:left;margin-right:5px; padding-right:18px; background: url('../images/navigation/2arrows.png') no-repeat right center;}
.breadcrumbs li.last {background:none;} 

.css-rule-constructor a {
	font-size:11px;
}

table.permissions-grid {border:1px solid #aaaaaa;width:100%;border-collapse:collapse;}
table.permissions-grid th {background-color:#DEDEDE;padding:3px;}
table.permissions-grid td {padding:4px 3px; border:1px solid #aaaaaa;}
table.permissions-grid td.chbx {text-align:center;}
table.permissions-grid td.chbx input {float:none;}