/**
* @project Core Framework
*/

@import "reset.css";

/*** Branding ***/ 
body {font:normal 12px Arial, Helvetica, sans-serif;color:#000;background:#fff;width:100%;height:100%;}
input, textarea {font-size:12px;}
.clear {clear:both;}
/**
* @section Links
*/
a:link{text-decoration:underline; color:#1e65be;}
a:visited{text-decoration:underline; color:#1e65be;}
a:hover{text-decoration:none; color:#1e65be;}
a:active{text-decoration:none; color:#1e65be;}

/**
* @section Headings
*/
h1, h2, h3, h4, h5, h6 {color:#000;font-weight:normal;margin-top:0;padding-top:0}
h1 {font-size:28px;color:#278181;}
h2 {font-size:20px;color:#278181}
h3 {font-size:18px;color:#278181}
h4 {font-size:16px;color:#278181}
h5 {font-size:14px;}
h6 {font-size:12px;}

/**
* @section Typography
*/
p {margin-bottom:8px;}

ul, ol, ul li, ol li {list-style:none;margin:0;background:none;padding:0}
input[type=checkbox] {padding-top:0;margin-top:0;}
.overflow_x_a {overflow-x:auto;}
.overflow_y_a {overflow-y:auto;}

/**
* @section Footerstick
*/
html, body {height:100%;}
.container {min-height:100%; position:relative;width:100%}
	.header {}
	.wrapper {padding-bottom:80px;width:940px;margin:0 auto}
.footer {height:80px;position:relative;width:940px;margin:-80px auto 0;background:url(../images/footer_bg.gif) repeat-x;}


/**
* @section Main Layouts
* @subsection Two Column Layout
*/
.container {}
	.main {float:right;margin-left:-200px;width:100%;padding-bottom:20px}
		.content_i {margin-left:200px;}
	.sidebar {float:left;width:200px;}
	
	
/**
* Custom Buttons
* @section buttons
*/
.button {background-color:transparent; background-repeat:no-repeat; background-position:0 0; cursor:pointer; margin:0; padding:0; border:0;}	
.btn1 {cursor:pointer;}
	.btn1 em {width:4px;height:27px;background:url(../images/btn_pu_left.png) no-repeat 0 0;float:left}
	.btn1 input {background:url(../images/btn_pu_content.png) repeat-x 0 0;height:27px;float:left;padding:2px 10px 5px;color:#f9f9f9;font-size:13px;font-family:Arial;font-weight:bold;}
	.btn1 strong {width:4px;height:27px;background:url(../images/btn_pu_right.png) no-repeat 0 0;float:left}
	.btn1:hover em, .btn1:hover input, .btn1:hover strong {background-position: 0 -27px} 
	.btn1:active em, .btn1:active input, .btn1:active strong {background-position:0 -27px} 
	.btn1_disabled em, .btn1_disabled input, .btn1_disabled strong {background-position:0 -54px;color:#a6a6a6} 
	.btn1_disabled:hover em, .btn1_disabled:hover input, .btn1_disabled:hover strong {background-position: 0 -54px;cursor:default;color:#a6a6a6} 
.btn2 {cursor:pointer;height:26px;}
.btn2 em {width:25px;height:26px;background:url(../images/btn2_l.gif) no-repeat 0 0;float:left}
.btn2 input {background:url(../images/btn2_c.gif) repeat-x 0 0;height:26px;float:left;padding:4px 0 5px;color:#0052b8;font-size:12px;font-family:Arial;text-decoration:underline;}
.btn2 strong {width:10px;height:26px;background:url(../images/btn2_r.gif) no-repeat 0 0;float:left}	
	
/**
* Global Styles
* @section Global
*/	
.g-nobg {background:none !important;}
.g-a-left {text-align:left !important;}
.g-a-right {text-align:right !important;}
.g-a-center {text-align:center !important;}
.g-upper {text-transform:uppercase;}
.g-noborder {border:0 !important;}


/**
* @section Main Layouts
* @subsection Header
*/
.header {background:url(../images/header_bg.gif) repeat-x;height:43px}
	.header_i {width:940px;margin:0 auto;}
		.core_logo {margin-top:16px;}
		.right_top {float:right;margin-top:6px;*margin-top:-22px}			
			div.mode {float:left;margin-top:3px;}
				ul.mode li {float:left;height:29px;text-align:center;cursor:pointer;background:url(../images/mode_sep.png) no-repeat 0 0;padding-left:1px}
				ul.mode li:first-child {background:none;}
					ul.mode li a{color:#1e65be;text-decoration:underline;font-size:12px;}
					ul.mode li.active a {color:#000;text-decoration:none;}
						ul.mode li a:hover{text-decoration:none}
						ul.mode li em{width:4px;height:29px;background:url(../images/mode_left.png) no-repeat 0 0;float:left;display:block}
						ul.mode li strong{width:4px;height:29px;background:url(../images/mode_right.png) no-repeat 0 0;float:left}
						ul.mode li span{float:left;height:16px;background:url(../images/mode_body.png) repeat-x 0 0;padding:7px 10px 6px}
						ul.mode li:hover em, ul.mode li:hover strong, ul.mode li:hover span, ul.mode li.active em, ul.mode li.active strong, ul.mode li.active span {background-position: 0 -29px}
			.r_info {float:left;padding:6px 0 6px 13px;}
				.r_info span.cp_link {background:url(../images/t_sep.png) 100% 3px no-repeat;padding-right:10px;}
				.r_info span {padding:0 6px 0 4px;}
				.r_info a {}
					.r_info a:hover {}
	
/**
* @section Main Layouts
* @subsection Footer
*/
.footer_i {padding-top:16px}
	.footer_i .copy {float:left;color:#5f656c;font-size:11px;}
		.footer_i .copy span {color:#000;}
	ul.footer_nav {float:right;}
		ul.footer_nav li {float:left;margin-left:6px;background:url(../images/footer_menu_sep.gif) no-repeat 0 3px;padding-left:8px}
		ul.footer_nav li:first-child {background:none}
			ul.footer_nav li a {color:#5f656c;font-size:11px;}


/**
* @section Widgets Page
*/
.logo {margin:20px 0 17px}
.content {padding-bottom:14px;margin-top:20px;}
	.pages {text-align:right;margin-bottom:10px;border:1px solid #dfe5e8;}
		.pages ul {float:left;}
			.pages ul li{float:left;border-right:1px solid #dfe5e8;height:19px;padding:6px 12px;font-size:14px;font-family:Arial}
				.pages ul li span {float:left;padding-top:2px;color:#0074bf}
				.pages ul li img {margin-left:6px;}
				.close_ico {}
			.pages ul li:first-child{}
				.pages ul li a{text-decoration:none;}
                .pages ul li a.remove {background:url(../images/nav_del.gif) 18px 0 repeat-x;float:right;width:18px;height:18px;margin-left:6px;}
                .pages ul li a.remove:hover {background:url(../images/nav_del.gif) repeat-x;}
                .pages ul li ul a.remove {margin-right:5px;}
		.add_new_pg {float:right!important;padding:3px 0!important;height:24px!important;}
	.curr_pg {margin-bottom:5px;}
		.curr_pg .title {background:url(../images/curr_bg.gif) repeat-x;border:1px solid #525457;color:#fff;font-size:12px;font-weight:bold;padding:4px 10px;}
		.curr_pg .functions {border:1px solid #808283;border-top:none}
			.curr_pg .functions_i {background:url(../images/curr_c_bg.gif) repeat-x;border:1px solid #f2f3f4;padding-right:10px;}
				.curr_pg .function {float:left;background:url(../images/o_sep.png) no-repeat 0 0; padding-left:10px;margin-left:10px;}
				.curr_pg .function:first-child {background:none; padding-left:0px;margin-left:0px;}
				.curr_pg .function span {background:url(../images/ico_open.png) no-repeat 100% 5px; padding-right:10px;}
				.curr_pg .function a {text-decoration:none}
				.curr_pg .function a span {text-decoration:underline}
				.curr_pg .function a:hover span {text-decoration:none}
		.btm_line {height:1px;background:#c0c0c0;}
    table.widgets{width:100%;height:100%;}
	table.widgets, table .widgets td, table.widgets tr  {vertical-align:top}
		.widget {margin-bottom:5px;}
			.widget_title {border:1px solid #808283;border-top:1px solid #b4b4b4;}
				.widget_title_i {background:url(../images/widget_t_bg.gif) repeat-x;border:1px solid #f3f3f4}
					.widget_title h1 {color:#2f2f2f;font-weight:bold;font-size:12px;float:left;margin:3px 0 0 10px;padding-right:50px;height:17px;overflow:hidden}
                    .widget_title .widget_edit {float:right;height:22px;margin-left:-46px;width:46px;}
					.widget_title a.edit {float:right;height:22px;width:22px;background:url(../images/widget_edit.gif) repeat-x;}
                    .widget_title a.remove {float:right;height:22px;width:21px;background:url(../images/widget_delete.gif) repeat-x;}
			.widget_content {border:1px solid #808283;border-top:none;}
            .view-mode .widget_content {border:none;}
				.widget_content p {line-height:20px;margin-bottom:8px;}
				.widget_content_i {border:1px solid #d9d9d9;padding:8px;}
				.view-mode .widget_content_i {border:none;padding:0;}
					.w_txt_content {padding:0 10px;}
					.widget_content_i img {margin:5px 0 2px;}
			.small_widgets {}
				.small_widgets .widget:first-child {margin-left:0;}
				.small_widgets .widget {float:left;margin-left:2px;width:233.5px;}
					.small_widgets .w_txt_content {padding:0 6px}
	
/**
* @section Popup
*/

.wrapper_w {width:900px;margin:30px auto;}

#backgroundPopup{display:none;position:fixed;height:100%;width:100%;top:0;left:0;background:#000000;opacity:.1;border:1px solid #cecece;z-index:1;}

.form_i {margin-bottom:15px;}
	.form_i label{color:#222222;font-weight:bold;}
    .form_i label.checkbx-label{position:relative;}
		.form_i label span{color:#0f5cbb;}
	.form_i input.inp_txt,.form_i textarea.inp_txt {width:460px;margin-top:5px;color:#313131}
	.form_i select {width:468px;margin-top:5px;color:#313131;height:20px;}
.chb_i {line-height:12px;}
	.chb_i input {float:left;margin-left:0}
	.chb_i label {padding-top:2px;margin-left:3px;float:left}
.tab-content p {color:#555}
.p_footer {height:27px;background:url(../images/widget_f_bg.gif) repeat-x 0 0;padding:5px 8px}
	.p_footer .btn1 {float:left;margin-right:5px;}
	.cancel_l {color:#1e65be;font-size:12px;font-family:Arial;float:left;margin-top:5px;margin-left:5px;}
		
.w_150 {width:150px!important;}
.w_163 {width:163px!important;}
.w_220 {width:220px!important;}
.w_232 {width:232px!important;}
.w_365 {width:365px !important;}

/*forms*/
.form_area {margin:0;padding: 10px 16px;}
.form_area a {color:#1E65BE !important;}
.form_area ul.widgets li {padding-top:3px;}

/*Permissions*/

table.permissions-grid {width:100%; border-collapse:collapse; border-spacing:0;}
	table.permissions-grid tr {vertical-align:top;}
	table.permissions-grid th, table.permissions-grid td {text-align:left;padding:6px 0 5px 6px;}
	table.permissions-grid td {border-bottom:#e7e7e7 solid 1px;color:#474747;}
	table.permissions-grid td.chbx {text-align:center;}
		table.permissions-grid td a {text-decoration:none}
			table.permissions-grid td a:hover {text-decoration:underline}
	table.permissions-grid tr:hover td {background:#cde6fc;color:#000000}
div.info {margin:10px 0; padding:10px 16px;background-color:#F4F4F4;}
div.error {}
div.success {}

/*layouts*/

.layout-1, .layout-2, .layout-3,.layout-4,.layout-5,.layout-6 {height:71px;width:70px;float:left;margin-right:9px;}
.layout-1 { background: url('../images/layouts/Layout1.png');}
.layout-2 { background: url('../images/layouts/Layout2.png');}
.layout-3 { background: url('../images/layouts/Layout3.png');}
.layout-4 { background: url('../images/layouts/Layout4.png');}
.layout-5 { background: url('../images/layouts/Layout5.png');}
.layout-6 { background: url('../images/layouts/Layout6.png'); margin:0;}

.layout-1.active { background: url('../images/layouts/Layout1-a.png');}
.layout-2.active { background: url('../images/layouts/Layout2-a.png');}
.layout-3.active { background: url('../images/layouts/Layout3-a.png');}
.layout-4.active { background: url('../images/layouts/Layout4-a.png');}
.layout-5.active { background: url('../images/layouts/Layout5-a.png');}
.layout-6.active { background: url('../images/layouts/Layout6-a.png');}
.columnWidthSliderHolder {margin:10px 0;}
.columnWidthSliderAmount {float:left;border: 0; color: #1E65BE;font-weight: bold;}

.login-form {padding-left:268px;padding-top:30px;}
.login-form h3 {margin-bottom:10px;}
.login-form .form_area {border:1px solid #DFE5E8;width:371px;}

/*menu*/

.manage-page-menu{width: 100%;}
	.manage-page-menu ul{ z-index:100;margin: 0;padding: 0;list-style-type: none; }
		.manage-page-menu ul li{position: relative;display: inline;float:left;background:url(../images/o_sep.png) no-repeat 0 4px; padding-left:10px;border:1px solid transparent;padding:3px 0 2px 10px;border-bottom:none}
		.manage-page-menu ul li:first-child {background:none; margin-left:0px;}
		.manage-page-menu ul li:hover {background:#bebebf;border:1px solid #8f8d8d;border-bottom:none}
			.manage-page-menu ul li:hover a {color:#222222;text-decoration:none}
			.manage-page-menu ul li a{display: block;text-decoration: none;color:#0052b8;text-decoration:underline;}
			* html .manage-page-menu ul li a{ display: inline-block;}
				.manage-page-menu ul li a:hover{text-decoration:none;}

		.manage-page-menu ul li ul{position: absolute;left: 0;display: none;visibility: hidden;border:1px solid #808283;border-top:1px solid #b4b4b4;margin-left:-1px;}
			.manage-page-menu ul li ul li{display: list-item;float: none;background:#f2f2f3;padding-left:0px;margin-left:0px;border:none;border-top:1px solid #d3d8dd;padding-left:5px;}
			.manage-page-menu ul li ul li:first-child{background:#f2f2f3;padding-left:5px;}
				.manage-page-menu ul li ul li:hover{background:#dcdde0;border:none;border-top:1px solid #d3d8dd;}
				.manage-page-menu ul li ul li a{width: 210px;padding: 3px;margin: 0;border-top-width: 0;color:#0052b8;text-decoration:underline;}
				.manage-page-menu ul li:hover ul li a{color:#0052b8;text-decoration:underline;}
					.manage-page-menu ul li ul li:hover a {color:#222222;text-decoration:none}
				.manage-page-menu ul li:hover ul li.active a {color:#222222;font-weight:bold}
				
			.manage-page-menu ul li ul li ul{top: 0;margin-left:2px;}
				.manage-page-menu ul li:hover ul li ul li a{color:#0052b8;text-decoration:underline;}
					.manage-page-menu ul li ul li ul li:hover a {color:#222222;text-decoration:none}
			
			/* Holly Hack for IE \*/
			* html .manage-page-menu{height: 1%;} /*Holly Hack for IE7 and below*/

	.manage-page-menu .downarrowclass{position: absolute;top: 9px;right: 5px;}
	.manage-page-menu .rightarrowclass{position: absolute;top: 12px;right: 5px;}

	.ddshadow{position: absolute;left: 0;top: 0;width: 0;height: 0;background: silver;}
	.toplevelshadow{}

.pages-menu{width: 100%;}

	.pages-menu ul{ z-index:300;margin: 0;padding: 0;list-style-type: none;border-top:none;*left:0;width:100% ;position:relative}
		.pages-menu ul li{z-index:300;display: inline;float:left;float:left;border-right:1px solid #dfe5e8;height:19px;padding:6px 12px;font-size:14px;font-family:Arial;cursor:pointer;border-bottom:1px solid #dfe5e8;margin-bottom:-1px;}
			.pages-menu ul li span {float:left;padding-top:2px;color:#0074bf}
		.pages-menu ul li:hover {}
			.pages-menu ul li a{text-decoration:none;padding-right:0 !important}
			* html .pages-menu ul li a{}
				.pages-menu ul li a:hover{}
		.pages-menu ul li ul{position: absolute;left: 0;display: none;visibility: hidden;background:#fff;border:1px solid #c9ced2;margin-left:-1px;width:200px;z-index:500;}
			.pages-menu ul li ul li{display: list-item;float: none;border-top:#dfe5e9 solid 1px;text-align:left;font-size:12px;padding:5px 12px 3px;z-index:200;z-index:500;position:relative !important}
			.pages-menu ul li ul li:first-child {border-top:none}
				.pages-menu ul li ul li:hover{background:url(../images/nav_sub_bg_active.gif) repeat-x}
				.pages-menu ul li ul li a{width: 286px;color:#0052b8;text-decoration:underline;}
					.pages-menu ul li:hover ul li a{color:#0052b8;text-decoration:underline;}
					.pages-menu ul li ul li:hover a {text-decoration:none}
				.pages-menu ul li:hover ul li.active a {}
				
				li.add_new{background:url(../images/add_new_bg.gif) repeat-x;}
					li.add_new a {font-weight:bold;color:#0052b8}
					img.add_new {margin-right:5px;margin-bottom:-2px;}
					.pages ul li img.add_new {margin-left:0}
				
			.pages-menu ul li ul li ul{top: 0;margin-left:1px;margin-top:-1px;display: none;top: 0px; visibility: visible; left: 258px; }
				.pages-menu ul li ul li ul li {}
				.pages-menu ul li:hover ul li ul li a{color:#0052b8;text-decoration:underline;}
					.pages-menu ul li ul li ul li:hover a {text-decoration:none}
				.pages-menu ul li ul li img.li_del {visibility:hidden;}
				.pages-menu ul li ul li:hover img.li_del {visibility:visible;}
					.pages-menu ul li ul li:hover ul li img.li_del {visibility:hidden;}
					.pages-menu ul li ul li:hover ul li:hover img.li_del {visibility:visible;}
					
			
			/* Holly Hack for IE \*/
			* html .pages-menu{height: 1%;} /*Holly Hack for IE7 and below*/

	.pages-menu .downarrowclass{position: absolute;top: 9px;right: 5px;display:none}
	.pages-menu ul li ul li .rightarrowclass{position: absolute;top: 12px;right: 5px;height:7px;width:4px;overflow:hidden;background:url(../images/nav_r.gif) no-repeat 0 -7px}
	.pages-menu ul li ul li:hover .rightarrowclass{background:url(../images/nav_r.gif) no-repeat 0 0}
.field-validation-error {color:#c00202;font-size:11px;}
.validation_error {color:#c00202;background:url(../images/v_ico_red.gif) no-repeat 14px 10px #fae2e2;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
.validation_success {color:#195302;background:url(../images/v_ico_green.gif) no-repeat 14px 10px #ddf7d2;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
.validation_note {color:#2e2d2d;background:url(../images/v_ico_yell.gif) no-repeat 14px 10px #fdf3c9;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
.validation_info {color:#003577;background:url(../images/v_ico_blue.gif) no-repeat 14px 10px #cde6fc;margin-bottom:1px;padding:10px 14px 10px 36px;font-size:12px;}
	
	
	
	
	
	
	
	
	
	
	







