<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="mef">
      <section name="composition" type="Core.Framework.MEF.Configuration.CompositionConfigurationSection, Core.Framework.MEF" />
    </sectionGroup>
  </configSections>

  <mef>
    <composition>
      <catalogs />
    </composition>
  </mef>
    <appSettings>
        <add key="environment" value="test" />
        <add key="FCKeditor:UserFilesPath" value="/Core/Content/UserImages/"/>
        <add key="SiteName" value="Core Framework"/>
        <add key="DefaultCulture" value="en-US"/>
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp
                deliveryMethod="Network"
                from="a.chernogrebel@itransition.com">
                <network
                    defaultCredentials="false"
                    host="sand.box.corp"
                    password="rpd12345"
                    port="25"
                    userName="BOX\rpd-1"/>
            </smtp>
        </mailSettings>
    </system.net>
<system.web>
<trace enabled="false" pageOutput="false" requestLimit="40" localOnly="false"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
   <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" resourceProviderFactoryType="Framework.Mvc.Resources.FrameworkResourceProviderFactory, Framework.Mvc" />
   <httpRuntime requestValidationMode="2.0"/>
    <pages
       validateRequest="false"
       pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
       pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
       userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Framework.Mvc.Helpers" />
        <add namespace="Framework.Mvc.Extensions" />
      </namespaces>
    </pages>
    <httpModules>
        <add name="PageModeModule" type="Core.Web.Modules.PageModeModule, Core.Web"/>
        <add name="HandlersManagerModule" type="Core.Web.Modules.HttpHandlersManagerModule, Core.Web"/>
    </httpModules>
    <httpHandlers>
        <add verb="GET" path="styles.cssx"  type="Core.Web.Handlers.CssHandler, Core.Web"/>
        <add verb="GET" path="scripts.jsx"  type="Core.Web.Handlers.JavascriptHandler, Core.Web"/>
        <add verb="GET" path="captcha.ashx" type="Framework.Mvc.Captcha.CaptchaImageHandler, Framework.Mvc" />
    </httpHandlers>
  <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
    <providers>
      <clear/>
      <add name="MvcSiteMapProvider"
       type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider"
       siteMapFile="~/Mvc.sitemap"
       securityTrimmingEnabled="true"
       cacheDuration="0"
       enableLocalization="false"
       scanAssembliesForSiteMapNodes="true"
       excludeAssembliesForScan=""
       includeAssembliesForScan=""
       attributesToIgnore="bling,visibility"
       nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider"
       controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider"
       actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider"
       aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider"
       siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider"
       siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider"
       siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider"/>
    </providers>
  </siteMap>
</system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PageModeModule" type="Core.Web.Modules.PageModeModule, Core.Web"/>
      <add name="HandlersManager" type="Core.Web.Modules.HttpHandlersManagerModule, Core.Web"/>
    </modules>
      <handlers>
        <add name="CssHandler" verb="GET" path="styles.cssx"  type="Core.Web.Handlers.CssHandler, Core.Web"/>
        <add name="JavascriptHandler" verb="GET" path="scripts.jsx"  type="Core.Web.Handlers.JavascriptHandler, Core.Web"/>
        <add name="CaptchaHandler" verb="GET" path="captcha.ashx" type="Framework.Mvc.Captcha.CaptchaImageHandler, Framework.Mvc" />
      </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

